:root {
    --azul: #5E3DB9;
    --gris: #817D7D;
    --contraste: #BE9899;
    --negro: #151010; 
    --blanco: #E8E8F6;
}

#cuerpo {
    display: grid;
    margin: 5vw 20vw 13vw 20vw;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-content: center;
    border-radius: 1em;
    border: 1px dashed #5E3DB9;
    background-color: #BE9899;
}

#nro_presupuesto, #fecha_hoy {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    color: var(--azul);
}

#total {
    color: var(--azul);
    
}

#cuerpo .tabla {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#cuerpo td {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
}

#texto_alternativo {
    color: Red;
    text-align: center;
    margin-bottom: 40px;
}

#cuerpo #botones{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#cuerpo table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

#cuerpo th, #cuerpo td {
    border: 1px solid var(--azul);
    padding: 8px;
    text-align: center;
    background-color: #E8E8F6;
}

/*  Media Query */

/*Tablet*/

@media (min-width: 576px) and (max-width: 992px) {
    #cuerpo td {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 2px;
    }
    
}
/*Fin Tablet*/

/*Movil*/
@media (max-width: 575px) {
    #cuerpo {
        margin: 5vw;
    }
    #cuerpo .tabla {
        font-size: 15px;
        text-align: center;
        margin-bottom: 70px;
    }
    
    #cuerpo td {
        padding-left: 1px;
        padding-right: 1px;
    }
    
}

/*Fin Movil*/