:root {
    --azul: #5E3DB9;
    --gris: #817D7D;
    --contraste: #BE9899;
    --negro: #151010; 
    --blanco: #E8E8F6;
}

#cuerpo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-content: center;
    border-radius: 1em;
}

#cuerpo p {
    text-align: left;
    margin: 50px 250px;
    padding: 1em;
    border: 1px dashed var(--azul);
    border-radius: 1em;
    background-color: var(--contraste);
}

#cuerpo #galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#cuerpo .imagen {
    width: 30%;
    height: 90%;
    border-radius: 1em;
    border: 1px dotted #5E3DB9;
}

#cuerpo .imagen:hover {
    width: 40%;
    height: 100%;
    border-radius: 1em;
    transition: 0.7s ease-out;
    cursor: pointer;
}

/*  Media Query */

/*Tablet*/

@media (min-width: 576px) and (max-width: 992px) {
    #cuerpo {
        border-radius: 1em;
    }
    #cuerpo p {
        margin: 10px;
    }
}
/*Fin Tablet*/

/*Movil*/
@media (max-width: 575px) {
    #cuerpo {
        border-radius: 1em;
    }
    #cuerpo p {
        margin: 10px;
    }
}

/*Fin Movil*/