:root {
    --azul: #5E3DB9;
    --gris: #817D7D;
    --contraste: #BE9899;
    --negro: #151010; 
    --blanco: #E8E8F6;
}

#cuerpo {
    display: grid;
    margin: 5vw 20vw 5vw 20vw;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-content: center;
    border-radius: 1em;
    border: 1px dashed #5E3DB9;
    background-color: #BE9899;
}

#cuerpo .tabla {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#cuerpo td {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

#cuerpo input {
    text-align: center;
    padding: 2px;
}

.contenedor_enlaces {
    display: flex;
    justify-content: center;
}

input [type=number]::-webkit-inner-spin-button {
    opacity: 1
}

/*  Media Query */

/*Tablet*/

@media (min-width: 576px) and (max-width: 992px) {
    #cuerpo {
        margin: 5vw;
    }
    
}
/*Fin Tablet*/

/*Movil*/
@media (max-width: 575px) {
    #cuerpo {
        margin: 5vw;
    }
    #cuerpo .tabla {
        font-size: 15px;
    }
    
    #cuerpo td {
        padding-left: 1px;
        padding-right: 1px;
    }
    
    #cuerpo input {
        padding: 1px;
        width: 20vw;
    }
   
}

/*Fin Movil*/