@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --azul: #5E3DB9;
    --gris: #817D7D;
    --contraste: #BE9899;
    --negro: #151010; 
    --blanco: #E8E8F6;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Comfortaa", sans-serif;
    text-decoration: none;
}
img {
    margin: auto;
    width: 100%;
    height: 100%;
}
body {
    position: relative;
    width: 100%;
    background-color: #E8E8F6;;
}
header {
    border-radius: 1em;
    border: 1px solid #5E3DB9;
    margin: 0px 10px 10px 10px;    background-color: #53369F;

    display: grid;
    grid-template-columns: 10% 90%;
    grid-auto-rows: auto;
}
header > nav {
    display: block;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: 10px;    
}
nav li {
    height: 100px;
    color: var(--negro);
    font-size: 20px;
    /*font-weight: 600px;*/
    text-align: center;
    padding-top: 38px;
    width: 200px;
    transition: .6s ease-out;
}

nav li:hover {
    background-color: #15101027;
} 
ul {
    display: flex;
    list-style: none;
}
a {
    width: 300px;
    height: 100px;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--blanco);
    transition: 0.4s ease-out;
    
}

a:hover {
    text-decoration: overline;
    color: var(--contraste);
    
}
footer {
    text-align: right;
    margin: 5px;
    border: 5px;
    padding: 15px;
    border-radius: 1em;
    border: 1px solid #5E3DB9;
    background-color: #53369F;
    position: relative;
    bottom: 0;
    width: 99%;
    margin-bottom: 0;
}
/*STYLES GENERALES*/
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-content: center;
    background-color: var(--blanco);
    height: 100%;
}

#tabla {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}
input {
    text-align: right;
    padding: 2px;
}
button {
    padding: 2px;
}
main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
main > div {
    align-items: center;
    justify-content: center;
    /*height: 80px;
    padding-top: 60px;
    padding-bottom: 60px;*/
    transition: 0.7s ease-in-out;
}

main > div:hover {
    font-size: 16.5px;
}

h1, h2, h3 {
    margin-bottom: 15px;
    text-align: center;
}
h3 {
    color: #E8E8F6;
}
article { 
    text-align: center;
    margin: 5% 15% 2% 15%;
    padding: 1em;
    border: 1px solid #5E3DB9;
    border-radius: 1em;
    background-color: #BE9899;
}
table {
    border: 1px dashed #5E3DB9;
    border-radius: 1em;
    margin: 15px;
    padding: 15px;
    text-align: left;
}
.contenedor_enlaces { 
    width: fit-content;
    margin: 3% 40% 5% 40%;
}

.enlaces {
    width: fit-content;
    text-decoration: none;
    color: var(--azul);
    transition: 0.4s ease-out;
    text-align: center;
}
.titulos {
    text-align: center;

}