@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --azul: #5E3DB9;
    --gris: #817D7D;
    --contraste: #BE9899;
    --negro: #151010; 
    --blanco: #E8E8F6;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Comfortaa", sans-serif;
    text-decoration: none;
}
img {
    margin: auto;
    width: 100%;
    height: 100%;
}
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
    background-color: #E8E8F6;;
}
header {
    border-radius: 1em;
    border: 1px solid #5E3DB9;
    margin: 0px 10px 10px 10px;    background-color: #53369F;

    display: grid;
    grid-template-columns: 10% 90%;
    grid-auto-rows: auto;
}
header > nav {
    display: block;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: 10px;    
}
nav li {
    height: 100px;
    color: var(--negro);
    font-size: 20px;
    /*font-weight: 600px;*/
    text-align: center;
    padding-top: 38px;
    width: 200px;
    transition: .6s ease-out;
}

nav li:hover {
    background-color: #15101027;
} 
ul {
    display: flex;
    list-style: none;
}
a {
    width: 300px;
    height: 100px;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--blanco);
    transition: 0.4s ease-out;
    
}

a:hover {
    text-decoration: overline;
    color: var(--contraste);
    
}
footer {
    text-align: right;
    margin: 5px;
    border: 5px;
    padding: 15px;
    border-radius: 1em;
    border: 1px solid #5E3DB9;
    background-color: #53369F;
    position: relative;
    bottom: 0;
    width: 99%;
    margin-bottom: 0;
 }
/*STYLES GENERALES*/
body {
    align-content: center;
    background-color: var(--blanco);
    height: 100%;
}

h1 {
    margin: 3% 30% 3% 30%;
    margin-bottom: 15px;
    text-align: center;
}

.nosotros {
    text-align: left;
    margin: 50px 250px;
    padding: 1em;
    border: 1px dashed #5E3DB9;
    border-radius: 1em;
    background-color: #BE9899;
}