:root {
    --azul: #5E3DB9;
    --gris: #817D7D;
    --contraste: #BE9899;
    --negro: #151010; 
    --blanco: #E8E8F6;
}

#cuerpo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    align-content: center;
    border-radius: 1em;
}

#titulo {
    padding: 20px;
}

#cuerpo #nosotros {
    text-align: left;
    margin: 50px 250px 20px 250px;
    padding: 1em;
    border: 1px dashed var(--azul);
    border-radius: 1em;
    background-color: var(--contraste);
}

h1 {
    margin-bottom: 20px;
}

article {
    background-color: #5E3DB9;
    border-radius: 1em;
    padding: 15px;
    margin: 5px;
}

article img {
    border-radius: 999px;
    width: 100%;
}
article p {
    text-align: center;
}

.botonera {
    bottom: 15px;
    right: 15px;
    max-width: fit-content;
    margin: auto;
    text-align: center;
    border-radius: 1em;
    padding: 20px;
}

#cajadetecnicos {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    
}

/*  Media Query */

/*Tablet*/

@media (min-width: 576px) and (max-width: 992px) {
    #cuerpo #nosotros {
        margin: 10px;
    }
    #cajadetecnicos {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}
/*Fin Tablet*/

/*Movil*/
@media (max-width: 575px) {
    #cuerpo #nosotros {
        margin: 10px;
    }
    #cajadetecnicos {
        display: grid;
        grid-template-columns: auto;
    }
}

/*Fin Movil*/